<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/web.css">
    <link rel="stylesheet" href="css/buy.css">
    
</head>
<style>
    body{
        background-color: #9d8189;
    }
    .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
 .text p {
    font-size: 30px;
     font-weight: 600;
     color: #ffe5d9;
     text-align: center;
 }
 .home {
     margin-top: 30px;
 }
 .home a {
     text-decoration: none;
     color: #fff;
     padding: 10px 20px;
     background-color: #000;
     border-radius: 5px;
 }
 .home a:hover {
     background-color: #fff;
     color: #000;}
 
</style>

<body>
    <div class="container">
        <div class="text">
            <p>Thank you for payment</p>
        </div>
        <div class="home">
            <a href="/" class="btn btn-primary" > Retrun to home </a>
        </div>
    </div>
    
</body>


</html>