*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-size: 500px;
 

}
.header{
    height: 8vh;
  }
img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
 
  }
  
.products {

    padding: 1.5rem;
    width: 150vh;
    column-count: 3;
    column-gap: 1.5rem;
    margin: auto;
    flex-wrap: wrap;
    border-radius: 20px;
    
  
}
.products h3{
    text-align: center;
}
.products p{
    text-align: center;
}

.products .item{
    border: 1px solid #cfcfcf; /* ความหนาขอบ 2px และสี #030303 */
    max-height:100vh;
    max-width: 120vh;
    border-radius: 20px;
   
   
    overflow: hidden;
  
}

.products .item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.products .item:hover img{
    transform: scale(1.1);

}

.shop{
    
    display:  flex;
    justify-content:  center;
    align-items:  center;
    font-size:  14px;
    
    width:  170px;
    height:  70px;
    background:  #ff545a;
    text-transform:  capitalize;
    margin-left:  30px;
    border-radius: 3px;
}
  
.products .item {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
    
}
.Buy {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 15px; /* Padding inside the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Optional: Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Add a hover effect */
.Buy:hover {
    background-color: #45a049; /* Darker green on hover */
}
.item {
    
    gap: 10px;
    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: 1s;

}

.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.bodycard{
    padding: 5px;
    margin-top: -15px;
}
.btn_buy{
    border-radius: 50px;
    width: 120px;
}
.btn_buy:hover{
    background-color: black;
    border: none;
}
h3,h4{
    color: rgb(0, 91, 228);
}
.price{
    display: flex;
    justify-content: space-around;
}



/* popup */


*:focus{
    outline: none;
}



/* popup */

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    overflow: hidden;
    transition: 1s;
    opacity: 0;

}
.popupcontent{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}
.showimg{
    display: flex;
    /* position: absolute; */
    /* left: 20px; */
    min-width: 45%;
    min-height: 70%;
    max-width: 45%;
    align-items: center;
    justify-content: center;
}
.showimg img{
    min-height: auto;
    max-width: 90%;
    border-radius: 20px;
} 
.comment{
    display: flex;
    /* position: absolute; */
    /* right: 20px; */
    min-width: 45%;
    min-height: 75%;
    border-radius: 30px;
    /* padding-right: 20px; */
    background-color: wheat;
}
.popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image{
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 0s;
}

.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.image-name{
    opacity: 0;
}

.close-btn{
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f00;
    cursor: pointer;
}



.left-arrow{
    left: 10px;
}

.right-arrow{
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
}

.arrow-btn:hover{
    background: rgba(0, 0, 0, 0.5);
}

.index{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0;
}

.large-image{
    margin-top: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}

.Buy-now{
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 15px; 
    margin: 10px;
    border: none; /* Remove border */
    border-radius: 5px; /* Optional: Add rounded corners */
    cursor: pointer;
}
.Buy-now:hover {
    background-color: #45a049;
}

.text-center{
    font-size: 5rem;
    padding: 2rem;
    margin: 1rem;

}

.card-title{
    margin: 1.5rem;
}


.submit_detail {
    background-color: #4caf50; /* Green color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px; /* Adjust the right margin for spacing */
    cursor: pointer;
  }
  

  .remove_detail {
    background-color: #4caf50; /* Green color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .maintain h5{

    font-size: 3rem;
    text-align: center;
    padding: 5rem;
    margin: 1rem;
    color: #fffbfb;
    position: absolute;
    top: 17.77%; /* ตำแหน่งตรงกลางของรูป */
    left: 50%; /* ตำแหน่งตรงกลางของรูป */
    transform: translate(-50%, -50%); /* ย้ายข้อความกลับไป 50% ของตนเอง */
    font-weight: bold; /* ตัวหนา */
    text-align: center;
    z-index: 2;
    letter-spacing: 8px;
  
}

.maintain img{
    width: 100%;
    height: 25vh;
    position: relative;
    top: -2rem;
    object-fit: cover;
    z-index: 1;
 
}

.watermark {
    position: absolute;
    top: 30%; /* Adjust the top position as needed */
    left: 20%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%);
    rotate: -45deg;
    font-size: 60px;
    font-weight: bold;
    color: rgba(233, 121, 121, 0.7); /* Set the color and opacity of the watermark */


    z-index: 10; /* Ensure the watermark is above the image */
  }
  
  .popupcontent {
    position: relative;
    

  }
  
