*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
        background-color: #f9f6f2;
}
.container .text-center{
    font-size: 4vh;
    margin: 1vh;
}
.container {
    width: 120px;
    gap: 10px;

}
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.card-body{
    padding: 25px;
    margin-top: -15px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.btn-primary:hover{
    background-color: black;
    border: none;
}
h3,h5{
    color: rgb(0, 91, 228);
}

.watermark {
    position: absolute;
    top: 30%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%);
    rotate: -45deg;
    font-size: 60px;
    font-weight: bold;
    color: rgba(155, 155, 155, 0.4); /* Set the color and opacity of the watermark */


    z-index: 10; /* Ensure the watermark is above the image */
  }
  
  .items {
    position: relative;
    

  }

.col{
    display: flex;
}
  
