
.main-product{ 
    display: flex;
    flex-direction: row;
}
/* .line{
    width: 40px;
    background-color: red;
} */
.products{
    display: flex;
    max-width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

img{
    padding: 1rem;
    margin: .5rem;
    /* max-width: 50rem;
    min-width: 50rem;
    height: auto; */
  
}
.logo{
    left: 0;
    font-size: 1.8em;
    color: aliceblue;
    user-select: none;
}
#logo img{
    max-width: 60px;
    height: 60px;
    border-radius: 100%; 
}
.main_containers{
    color: #000;
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.titleimg{
    width: auto;
    height: auto;
  
    color: #000000;
    padding: 20px;
  
}


.main-product{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    

}

.box_input{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


  .form-containe {
    width: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* Border color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
    padding: 20px;

  }
  
  .upload_detail_container h2{
    top:40%;
    font-size: 2em;
    font-weight: 500;
    color: #000000;

    
  }
.upload_detail_container label{
    position: relative;
    top:50%;

    margin: 1rem;
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    color: #000000;


    
  }

  .box_input input{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
  
}

.box_input input:focus~label,
.box_input input:valid~label {
    top: -5px;
}

.upload_detail_container input{

    height: 2.5rem;
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
 
}
.form-containe img{
    margin-left: 1rem;
}

.form-containe button{
    
    background-color: rgb(34, 104, 37);
    padding: 10px 15px; /* ปรับขนาด padding ตามที่คุณต้องการ */
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}

.box_input{
 gap: 1rem;}

.form-containe{
    border-radius: 20px;
    border: 1px solid #5a5a5a;
    background-color: rgba(255, 255, 255, 0.5); 

}
